.filters-section {
    background-color: var(--container-highlight);
    padding: 0.75rem;
    border: 1px solid var(--border);
    position: relative;
    border-radius: 3px;
    width: fit-content;
    /* height: 100%; */
    box-sizing: border-box;
    flex: 1 1;
}
.filters-section.active {
    box-shadow: inset 3px 0px 0px 0px var(--accent-color);
}
.filters-section-header {
    text-align: left;
    margin-bottom: 0.75rem;
    font-size: 1.2rem;
    display: flex;
    align-items: baseline;
}
.filters-section-content {
    margin: 0 1rem;
}
